<template>
  <div :class="`${ !outlined || 'outlined'}`">
    <p class="text-turn-count text-h4 font-weight-bold red--text white">
      {{ turnCount }}
    </p>
    <v-img
      eager
      min-width="75px"
      max-width="9vw"
      src="../assets/cardback_classic.png"
      @contextmenu="onRightClick"
      @click="$emit('click')"
    />
  </div>
</template>

<script>
export default {
  name: "CardComponent",
  props: {
    id: String || Number,
    type: String,
    turnCount: Number,
    outlined: Boolean,
  },
  computed: {
    cardbackUrl() {
      return "../assets/cardback_classic.png";
    },
  },
  methods: {
    async onRightClick(event) {
      event.preventDefault();
      this.$emit("right-click", { x: event.clientX, y: event.clientY });
    },
  },
};
</script>

<style scoped>
.text-turn-count {
  position: absolute;
  z-index: 1;
}
</style>
