<template>
  <v-menu
    absolute
    offset-y
    :position-x="menuX"
    :position-y="menuY"
    :value="value"
    @input="$emit('input', $event)"
  >
    <v-list dense>
      <template v-for="(menuItem, i) of menuItems">
        <v-list-item
          v-if="!menuItem.divider"
          class="d-flex"
          :key="i"
          @click="$emit(menuItem.eventCode)"
        >
          <v-img v-if="menuItem.icon" contain :src="menuItem.icon" max-width="20px" />
          {{ menuItem.text }}
        </v-list-item>
        <v-divider v-else :key="i" />
      </template>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: "CardMenu",
  props: {
    value: Boolean,
    menuX: Number,
    menuY: Number,
  },
  computed: {
    menuItems() {
      return [
        { text: 'Play', eventCode: 'remove' },
        { text: 'Move to Left', eventCode: 'fake-cast' },
        // { divider: true },
        // { text: 'Unit', eventCode: 'unit' },
        // { text: 'Spell', eventCode: 'spell', icon: require('../assets/icon_spell.svg') },
        // { text: 'Follower', eventCode: 'follower', icon: require('../assets/icon_follower.svg') },
        // { text: 'Champion', eventCode: 'champion', icon: require('../assets/icon_champion.svg') },
      ];
    },
  },
};
</script>
