<template>
  <div>
    <h2 class="text-center text-h4 mb-3 d-flex align-center justify-center">
      <v-icon left>mdi-alarm</v-icon> Turn
      <span class="orange--text ml-1">{{ turn }}</span>
    </h2>
    <v-card class="mb-6" outlined>
      <v-container>
        <h3 class="text-center mb-2">
          Hand Size <span class="orange--text">{{ cards.length }}</span>
        </h3>
        <transition-group name="list" tag="div" class="d-flex justify-center">
          <div v-for="(card, index) of cards" :key="card.id" class="card-item">
            <card
              v-bind="card"
              :outlined="index === selectedCard"
              @right-click="onRightClick({ ...$event, index })"
              @click="selectCard(index)"
            />
          </div>
        </transition-group>
        <h3
          v-if="!cards.length"
          class="
            empty-display
            d-flex
            justify-center
            align-center
            grey--text
            text-body-1
          "
        >
          <div class="d-flex flex-column align-center">
            <v-icon class="mb-2" large color="grey">mdi-hand-back-right-off-outline</v-icon>
            <span> Hand is empty </span>
          </div>
        </h3>
      </v-container>
    </v-card>
    <card-menu
      v-model="showMenu"
      :menu-x="menuX"
      :menu-y="menuY"
      @remove="removeCard"
      @fake-cast="reorderCard"
    />
    <hotkey-handler @enter="draw" @spacebar="nextTurn" />
    <v-card outlined>
      <v-container class="d-flex justify-center">
        <v-btn
          class="mr-2"
          :disabled="disableControls || !canDraw"
          color="primary"
          @click="draw"
          ><kbd class="mr-2">Enter</kbd> Draw +1</v-btn
        >
        <v-btn color="error" :disabled="disableControls" @click="nextTurn">
          <kbd class="mr-2">Spacebar</kbd> Next Turn
        </v-btn>
      </v-container>
      <v-container class="d-flex justify-center">
        <v-btn @click="reset"> New Game </v-btn>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import Card from "./Card";
import CardMenu from "./CardMenu";
import HotkeyHandler from "./HotkeyHandler";

export default {
  name: "HelloWorld",
  components: {
    Card,
    CardMenu,
    HotkeyHandler,
  },
  computed: {
    canDraw() {
      return this.cards.length < 10;
    },
  },
  data: () => ({
    cards: [],
    disableControls: false,
    showMenu: false,
    selectedCard: -1,
    menuX: 0,
    menuY: 0,
    turn: 1,
  }),
  watch: {
    showMenu(val) {
      if (!val) this.selectedCard = -1;
    },
  },
  methods: {
    draw() {
      if (this.disableControls) return;
      if (!this.canDraw) return;
      this.cards.unshift({ id: new Date().getTime(), turnCount: 0 });
    },
    onRightClick({ x, y, index }) {
      this.showMenu = true;
      this.menuX = x;
      this.menuY = y;
      this.selectedCard = index;
    },
    nextTurn() {
      if (this.disableControls) return;
      setTimeout(() => (this.disableControls = false), 500);
      this.turn += 1;
      this.cards = [
        ...this.cards.map(({ id, turnCount }) => ({
          id,
          turnCount: (turnCount += 1),
        })),
      ];
      this.draw();
    },
    removeCard() {
      this.cards.splice(this.selectedCard, 1);
      this.selectedCard = -1;
    },
    async reset() {
      this.cards = [];
      this.turn = 1;
      let i = 0;
      const interval = setInterval(() => {
        if (i >= 4) {
          clearInterval(interval);
          return;
        }

        this.draw();
        i++;
      }, 500);
    },
    reorderCard() {
      const card = this.cards[this.selectedCard];
      this.cards.splice(this.selectedCard, 1);
      this.cards.unshift(card);
    },
    selectCard(index) {
      if (this.selectedCard !== index || this.selectedCard === -1) {
        this.selectedCard = index;
        return;
      }
    },
  },
};
</script>

<style scoped>
.empty-display {
  height: 150px;
}
.card-item {
  transition: all 0.35s;
}
.card-item.list-enter-active {
  transition: all 0.35s;
  z-index: 100;
}
.card-item.list-leave-active {
  transition: all 0.5s;
  position: absolute;
}
.list-enter /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(80vw);
}
.list-leave-to {
  opacity: 0;
  transform: translateY(30vh);
}
</style>
