<template>
  <p class="d-flex justify-center">
    <v-card width="100%">
      <v-card-title>Runeterra Hand Tracker</v-card-title>
      <v-card-text>
        <div>
          <p>
            This is a simple tool for helping players track cards in the enemy's hand.
          </p>
          <p>
            Numbers on the cards show how many turns have passed since the card was added to hand.
            A higher number means that cards are likely to be reactive cards, higher cost, or are situational.
          </p>
          <p>
            Right clicking on cards will show more options.
            <ul>
              <li>
                <strong>Play</strong>: Removes the card from hand.
              </li>
              <li>
                <strong>Move to Left</strong>: Moves the card to the left. Mostly spells that were hovered, but then cancelled.
              </li>
            </ul>
          </p>
          <p>
            <strong class="text-h6">Update</strong><br>
            (12 November, 2021): Initial release!<br>
          </p>
          <p>
            <strong class="text-h6">Future Updates</strong><br>
            <ul>
              <li>Tag cards by type: spells, units, champions, celestials, lurkers, revealed, etc...</li>
              <li>Click-and-drag ordering of cards</li>
            </ul>
          </p>
        </div>
      </v-card-text>
    </v-card>
  </p>
</template>