<template>
  <v-app dark>
    <v-app-bar app color="maroon" dense dark>
      <div class="d-flex align-center">
        Runeterra Hand Tracker
      </div>
      <v-spacer />
      <div class="text-caption text-right">
        <div>
          Made with ♥ by
          <a class="white--text" href="https://twitter.com/Jzolago">Jzolago</a>
        </div>
        <div>
          Send me a
          <a class="white--text" href="https://ko-fi.com/jzolago">Ko-fi</a>!
        </div>
      </div>
    </v-app-bar>

    <v-main>
      <v-container>
        <Main class="mb-8" />
        <Writeup />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Main from "./components/Main";
import Writeup from "./components/Writeup.vue";

export default {
  name: "App",

  components: {
    Main,
    Writeup,
  },

  data: () => ({
    //
  }),
};
</script>

<style>
.v-application {
  font-family: 'Questrial' !important;
}
</style>